.foodABC {
    color: white;
    font-size: min(500%);
    font-size: 9vw;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    text-shadow: 2px 2px #000000;
    position: relative;
    top: 30px;
}

.subtitle {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px #000000;
    position: relative;
    font-family: "Outfit", sans-serif;
    top: 45px;
}

.information {
    position: relative;
    top: 300px;
}
.info {
    font-style: bold;
}
.info_allergens-diet {
    font-style: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    text-align: center;
    color: white;
    background: #222;
    font-family: "Outfit", sans-serif;
    
}

.background {
    background-size: cover;
    background-image: url('pngtree-colorful-dots-round-polka-pattern-autism-for-kids-books-fabric-clothes-png-image_6210094.png');
    filter: blur(24px); /* Add blur effect to the background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header{
    position: relative;
}

.form-container {
    position: relative;
    padding: 40px;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    display: block;
}
.resultsScreen {
    position: relative;
    top: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    width:
    text-align:left;
    display:none;
}
.recipes {
    position: relative;
    top: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    text-align:left;
    display:none;
}
h2{
    font-size:30px;
    margin:0px;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

.custom-file-upload {
    font-size: large;
    font-family: "Outfit", sans-serif;
    font-style: bold;
    cursor: pointer;
    display: block;
    background-color: #007bff;
    color: white;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #0056b3;
    font-weight: bold;
}
input[type="text"], textarea {
    width: 95%; 
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
input[type="submit"] {
    font-family: "Outfit", sans-serif;
    font-size:large;
    font-style: bold;
    cursor: pointer;
    width: 100%;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    transition: background-color 0.3s;
}
.shareButton {
    font-family: "Outfit", sans-serif;
    font-size:large;
    font-style: bold;
    cursor: pointer;
    width: 100%;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #0056b3;
    font-weight: bold;
}